<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TESTEntities" connectionString="metadata=res://*/Data.TarjetaData.csdl|res://*/Data.TarjetaData.ssdl|res://*/Data.TarjetaData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JRAIRU3;initial catalog=TEST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>